.features {
  padding-bottom: 47px;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      margin-top: calc(-1 * #{$gridItemMargin});
      margin-left: calc(-1 * #{$gridItemMargin});
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - #{$gridItemMargin});
      margin-left: $gridItemMargin;
      margin-top: $gridItemMargin;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - #{$gridItemMargin});
      margin-left: $gridItemMargin;
      margin-top: $gridItemMargin;
    }
  }

  &__icon--bg {
    @include centeredFlex();
    height: 120px;
    width: 100%;

    border-radius: 4px;
    margin-bottom: 30px;
    background-color: getColor("bg-secondary");
  }

  &__icon {
    color: getColor("accent-light");
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: getColor("title");
  }

  &__text {
    padding: 0;
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
  }
}
