.mobile-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: getColor("white");
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    padding: 48px 25px;
    max-width: 480px;
  }

  &__button--open {
    @media screen and (min-width: 768px) {
      display: none;
    }

    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: getColor("accent-light");
    }
  }

  &__button--close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: getColor("accent-light");
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__navigation {
    margin-bottom: 380px;
  }

  &__navigation-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__navigation-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: getColor("title");

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: getColor("accent-light");
    }
  }

  &__navigation-link--current {
    color: getColor("accent-light");
  }

  &__contacts-list {
    margin-bottom: 64px;
  }

  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__contacts-list--link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #757575;

    &:hover,
    &:focus {
      font-size: 34px;
      line-height: 1.18;

      color: getColor("accent-light");
    }

    transition: color 250ms $cubic-bezier, font-size 250ms $cubic-bezier,
      line-height 250ms $cubic-bezier;
  }

  &__social-list {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
  }

  &__social-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        content: "";
        display: inline-flex;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
        margin-left: 10px;
      }
    }
  }

  &__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: getColor("accent-light");

    &:focus,
    &:hover {
      color: getColor("accent-dark");
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
