.page-header {
  border-bottom: 1px solid getColor("header-border");

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
    }
  }
}
