.page-header {
  border-bottom: 1px solid getColor("header-border");
  display: none;
}

.page-header__content {
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
