.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: $main-font;
  letter-spacing: 0.03em;

  background-color: white;

  color: #757575;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  margin-top: 0px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: getColor("title");

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
