.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

body {
  background-color: getColor("white");
  color: getColor("text");

  font-family: $main-font;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  margin-top: 0px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: getColor("title");
}
